.App {
  font-family: sans-serif;
  background-color: #e1e0d6;
  margin: ;
  border-radius: 20px;
  text-align: center;
}

.realdeal {
  text-align: center;
}

.slide {
  align-self: auto;
}
